.card img
{
width:70%;
}

#main-content
{
margin-top:35px;
margin-bottom:35px;
}

h4
{
font-family: 'Oswald', sans-serif;
color:#153140;
}

.card-style
{
background-color:white;
}

#large-card-text
{
color:white;
}

.card
{
padding:5px;
margin:5px;
}

#small-card-text p
{
color:black;
}

.card-style li
{
background-color:white;
color:#407ee8;
}

.card-link a
{
color:white;
}
