/* Basic Reset, Background Image */

body
{
margin:0;
border:0;
padding:0;
background-image: url("https://cdn.rawgit.com/EndeavourWebDev/EndeavourWebDev.github.io/d97c1b13/assets/images/joel-filipe-187166_rgb_70_87_255_crop.png");
background-position: center;
background-size: cover;
background-repeat: no-repeat;
}

/* Text, Paragraph, Fonts */
p
{
font-family: 'Molengo', sans-serif;
color:white;
}

h2
{
font-family: 'Oswald', sans-serif;
color:#153140;
}

span
{
font-weight:bold;
color:white;
}

/* Header Section */

#header
{
height:100px;
padding: 15px 0px 0px 0px;
text-align:center;
color:white;
}

#header p
{
color:black;
font-weight:bold;
}

.main-text
{
background-color:#407ee8;
opacity:0.9;
}

#main-content h2
{
padding-bottom:20px;
}

/* Footbar */

#footbar
{
padding-top:60px;
height:100px;
}

#footbar p
{
padding-top:10px;
text-align:right;
}

.footbar-style
{
color:white;
background-color:#53c3ff;
border-top: 1px solid #153140;
}

/* Navigation */
.navbar
{
background-color:#53c3ff;
border-bottom: 1px solid #153140;
font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 700;
}

/* Cards */
.card-style
{
background-color:#407ee8;
opacity:0.9;
}

.card-style li
{
background-color:white;
color:#407ee8;
}

.card-link a
{
color:white;
}

#spacer
{
height:50px;
}



