.card img
{
width:100%;
height:180px;
}

#spacer
{
height:30px;
}

h4
{
font-family: 'Oswald', sans-serif;
color:#153140;
}

.card-style li
{
background-color:white;
color:#407ee8;
}

.card-link a
{
color:white;
}

#carouselExampleIndicators img
{ 
width: 50%; 
margin: auto; 
}

